*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.caixinha{
    background-color: #cc94cc; 
    border:10px solid #f00; 
    padding: 5px;
    width: 130px;
    height: 120px;
    
}
.section{
    
    background-color: #cc9; 
    border:10px solid #f00; 
    padding: 5px;
}

body{
    background-color: white;
}

.caixa1{
    display: flex;
    justify-content: center;
}
.caixa2{
    display: flex;
    justify-content: center;
}

.caixa3{
    display: flex;
    justify-content: center;
}